<div class="container container-galary p-5">

  <div class="container px-5">

    <h5>Dasha (Darja) Arsentjeva <span>works and lives in Dresden(GER)</span></h5>
    <br>
    <h5>Since 2015</h5>
    <p><a href="https://www.facebook.com/GeldschneiderundCo" target="_blank"><i class="fa fa-facebook-square"></i></a> Postcards of my works are on sale in the store on Alaunstraße 27-29, 01099 Dresden</p>
    <br>
    <h5>November’16 - January’17</h5>
    <p><a href="http://www.diegalerie-dresden.de/darja-arsentjeva.html" target="blank"><i class="fa fa-home"></i></a> Personal exibition in the gallery "Die Galerie Dresden"</p>
    <br>
    <h5>2012-2016</h5>
    <p>Studies computer science at TU Dresden</p>
    <br>
    <h5>2007</h5>
    <p>Elementary art education in Kaliningrad(RUS)</p>
    <br>
    <h5 class="d-inline">*1992 </h5>
    <p class="d-inline">in Kaliningrad(RUS)</p>

  </div>

</div>
