<div class="container container-galary">

    <div class="container px-0">
      
        <div id="slider" class="carousel slide" data-interval="false">
            <div class="carousel-inner" role="listbox">
              <div *ngFor="let image of images" class="carousel-item" [ngClass]="{'active': image.img === '1.jpg'}">
                <img src="{{image.url}}" alt="" class="mx-auto d-block my-2 img-thumbnail">
                <div class="carousel-caption">
                    <h5>{{ image.name }}</h5>
                    <p>{{ image.description }}</p>
                </div>
                <div class="text-center mt-5">
                    <a href="#" data-toggle="modal" data-target="#inquireModal" (click)="getImage(image.name)"><i class="fa fa-question-circle"></i></a>
                </div>
              </div>
            </div>
            <a href="#slider" class="carousel-control-prev" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
  
            <a href="#slider" class="carousel-control-next" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
    </div>

</div>

<!-- INQUIRE MODAL -->
<div class="modal fade" id="inquireModal" data-backdrop="false">
        <div class="modal-dialog">
          <div class="modal-content bg-dark">
      
            <div class="modal-header">
              <h5 class="modal-title">Inquire</h5>
              <button class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
            </div>
      
            <form #inquireForm="ngForm" (ngSubmit)="onSubmit(inquireForm)">
            
            <div class="modal-body">
              
                <input type="hidden" name="inquiry.image" [(ngModel)]="inquiry.image" value="{{inquiry.image}}">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" name="inquiry.name" [(ngModel)]="inquiry.name" required>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" name="inquiry.email" [(ngModel)]="inquiry.email" required>
                </div>
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea name="message" rows="4" class="form-control" name="inquiry.message" [(ngModel)]="inquiry.message" required></textarea>
                </div>
                  
            </div>
      
            <div class="modal-footer">
              <input id="submit" type="submit" class="btn btn-link m-auto" value="Submit">
            </div>
      
          </form>
      
          </div>
        </div>
    </div>

