<div class="sticky-top">

  <ul class="nav nav-fill">
      <li class="nav-item">
          <a class="nav-link" routerLink="landscapes" routerLinkActive="active">Landscapes</a>
      </li>
      <li class="nav-divider d-none d-md-block">|</li>
      <li class="nav-item">
          <a class="nav-link" routerLink="sea-art" routerLinkActive="active">Sea Art</a>
      </li>
      <li class="nav-divider d-none d-md-block">|</li>
      <li class="nav-item">
          <a class="nav-link" routerLink="projects" routerLinkActive="active">Collective Projects</a>
      </li>
      <li class="nav-divider d-none d-md-block">|</li>
      <li class="nav-item">
          <a class="nav-link" routerLink="photos" routerLinkActive="active">Photos</a>
      </li>
      <li class="nav-divider d-none d-md-block">|</li>
      <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-divider d-none d-md-block">|</li>
      <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact Me</a>
      </li>
  </ul>

</div>

